*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mouse{
    width:8px;
    transition:all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    height:8px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
}

body{
    margin: 0;
    position: relative;
    padding: 0;
}

.main{
    width:100%;
    background-color:black;
}

.hero{
    width:100%;
    height:100vh;
    color:white;
}

.nav{
    display:flex;
    
    justify-content:space-between;
}

.nav a{
    text-decoration:none;
    color:white;
    padding:10px 30px;
    font-weight:400;
}

.heading{
    margin-top:80px;
    padding-left:30px;
    line-height:0.9;
}

.heading .firsthead{
    text-transform:uppercase;
    font-size:11vw;
    opacity: 0.6;
}

.bounding{

    overflow:hidden;
    width:fit-content;
}


.heading .sechead{
    text-transform:uppercase;
    opacity:0.6;
    margin-left:8vw;

    font-size:11vw;
}

.boundingelem{
    transform:translateY(102%);
    display:inline-block;
}

.heading{
    width:fit-content;
}

.heading2 h5{
    text-transform:uppercase;
    font-size:20px;
    font-weight:400;
    display:flex;
    justify-content: end;
}

.corner{
    margin-top:11vh;
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}

.corner h5{
    text-transform:uppercase;
    font-size:2.3vh;
}

.herofooter{
    margin-top:60px;
    color:white;
    padding-left:30px;
    padding-right: 30px;
    display:flex;
    justify-content: space-between;
}

.herofooter a{
    text-decoration:none;
    text-transform:uppercase;
    font-size:15px;
    color:white;
}

.mini-icon{
    display:flex;
    justify-content: space-between;
    gap:10px;

}

.minicircle1{
    background-color:gray;
    border-radius:50%;
    width:25px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* second page */

.middleSection{
    width:100%;
    height: 141vh;
    padding-top:200px;
    padding-right:100px;
}

.elem{
    display:flex;
    color:white;
    opacity: 0.6;
    padding:4vh 3vw;
    border-top:1px solid gray;
    padding-right:0;
    align-items:center;
    position: relative;
    justify-content: space-between;
}

.elem img{
    width:400px;
    position: absolute;
    z-index: 100;
    opacity: 0;;
    height:400px
}

.elem h1{
    text-transform:uppercase;
    font-weight: 900;
    font-size:11vw;
}

.last{
    border-bottom:1px solid gray;
}

/* footer page */

.footer{
    width:100%;
    color:white;
}

.aboutSection{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left:40vw;
    gap:50px;
    padding-right:100px;
    padding-top:30vh;
    
    width:100%;
}

.details{
    line-height: 1.7;
}

.details h2{
    text-transform:uppercase;
    opacity: 0.6;
    font-size:50px;
    font-weight: 400;
}

.details a{
    text-decoration:none;
    color:white;
    padding:1vh 2vw;
    border-radius: 20px;
    border:1px solid white;
}

.mention{
    width:100%;
    margin-top:20vh;
}

.mention h3{
    text-transform:uppercase;
    opacity: 0.6;
    font-size:17px;
}

.mention a{
    text-decoration:none;
    color:white;
    font-size:17px;
    text-transform: uppercase;
}

.footerlinks{
    display:flex;
    justify-content: space-between;
    padding:0 30px;
    margin-top:100px;
    padding-bottom: 10px;
}

.link{
    display:flex;
    justify-content: space-between; 
    font-size:20px;
    gap:50px;
}

.link a{
    text-transform: uppercase;
    text-decoration: none;
    color:white;

}

.left{
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    gap:50px;
}